name: CMAKE Workflow

on:
  workflow_dispatch: 
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        os: ['windows-latest', 'ubuntu-latest']
      fail-fast: false
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v4
    - name: CMake configure
      run: |
        cmake -B build -S .
    - name: Build
      run: cmake --build build
    - name: Run on Linux
      if: runner.os == 'Linux'
      run: ./build/hello_world
    - name: Script call
      run: bash script.sh 4
    - name: Run on Linux
      if: runner.os == 'Windows'
      run: .\build\hello_world.exe
